@inherits LayoutComponentBase
@using APIDrivingProject.Services
@inject AuthService AuthService
@inject NavigationManager Navigation

<div class="top-navbar">
    <ul>
        <li><NavLink href="/">Home</NavLink></li>
        <li><NavLink href="/settings">Settings</NavLink></li>

        @if (AuthService.IsAuthenticated)
        {
            @if (AuthService.IsAdmin)
            {
                <li><NavLink href="/admin_dashboard">Admin Dashboard</NavLink></li>
                <li><NavLink href="/manage_users">Manage Users</NavLink></li>
            }
            @if (AuthService.IsInstructor)
            {
                <li><NavLink href="/teacher_dashboard">Teacher Dashboard</NavLink></li>
                <li><NavLink href="/student_list_v1">Student List</NavLink></li>
            }
            @if (AuthService.IsStudent)
            {
                <li><NavLink href="/student_dashboard">My Dashboard</NavLink></li>
                <li><NavLink href="/my_lessons">My Lessons</NavLink></li>
            }

            



            

        }

        
            
        

    </ul>
</div>

<main>
    @Body
</main>

@code {
        private void HandleLogout()
        {
            AuthService.Logout(); // קריאה לפונקציה ב-AuthService
        }
}




