@inherits LayoutComponentBase
@using APIDrivingProject.Services
@inject AuthService AuthService
@inject NavigationManager Navigation



<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        @Body
    </main>
</div>



@code {
    private void Logout()
    {
        AuthService.ClearUser();
        Navigation.NavigateTo("/login");
    }
}
