@using APIDrivingProject.Services
@inject AuthService AuthService
@inject NavigationManager Navigation

<div class="nav-scrollable">
    <ul class="nav flex-column">
        <li class="nav-item">
            <NavLink class="nav-link" href="/">
                <span class="bi bi-house-door-fill-nav-menu"></span> Home
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/schedules">
                <span class="bi bi-list-nested-nav-menu"></span> Schedules
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/exams">
                <span class="bi bi-plus-square-fill-nav-menu"></span> Exams
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/notifications">
                Notifications
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/settings">
                Settings
            </NavLink>
        </li>
    </ul>
</div>





}
