@using APIDrivingProject.Services
@inject AuthService AuthService
@inject NavigationManager Navigation

<div class="side-nav">
    <ul class="nav-list">
        <li class="nav-item">
            <NavLink class="nav-link" href="/">
                <i class="bi bi-house-door-fill"></i> דף הבית
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/settings">
                <i class="bi bi-gear-fill"></i> הגדרות
            </NavLink>
        </li>
        @if (AuthService.IsAuthenticated)
        {
            if (AuthService.IsAdmin)
            {
                <li class="nav-item">
                    <NavLink class="nav-link" href="/admin_dashboard">
                        <i class="bi bi-shield-lock-fill"></i> דשבורד אדמין
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/manage_users">
                        <i class="bi bi-people-fill"></i> ניהול משתמשים
                    </NavLink>
                </li>
            }
            if (AuthService.IsInstructor)
            {
                <li class="nav-item">
                    <NavLink class="nav-link" href="/teacher_dashboard">
                        <i class="bi bi-chalkboard-teacher"></i> דשבורד מורים
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/student_list_v2">
                        <i class="bi bi-person-lines-fill"></i> רשימת תלמידים
                    </NavLink>
                </li>
            }
            if (AuthService.IsStudent)
            {
                <li class="nav-item">
                    <NavLink class="nav-link" href="/student_dashboard">
                        <i class="bi bi-book-fill"></i> הדשבורד שלי
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/my_lessons">
                        <i class="bi bi-journal-bookmark-fill"></i> השיעורים שלי
                    </NavLink>
                </li>
            }
        }
    </ul>
</div>
